@import url(https://fonts.googleapis.com/css?family=Roboto:300);
* {
    margin: 0px;
    padding: 0px;
} 
header, section, footer, aside, nav, article, figure, figcaption,  hgroup{
    display: block;
} 
body {
    background: url(../images/fondo4.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    font-family: "Roboto", sans-serif;
}
.login-page {
  padding: 17% 0 0;
}
.form {
  background: #FFFFFF;
  max-width: 360px;
  margin: auto;
  padding: 45px;
  box-sizing: border-box;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 2px;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}